body {
    background-color: #f9f9f9;
}

.jumbotron {
    background-color: #f9f9f9;
}

.alert {
    margin: 0 auto;
}

.alert-error {
    background-color: #ffffff;
    color: #ff0000;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

.alert-warning {
    background-color: #ffffff;
    color: #ffa500;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

.alert-success {
    background-color: #ffffff;
    color: #008000;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

.body-header {
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
    text-align: end;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.content-row > .panel-default:hover {
    background-color: #fffee8;
}

.panel-row {
    margin: 5px;
}

.pagination-row {
    text-align: end;
}

.panel-button,
.panel-button:hover,
.panel-button:focus {
    color: #000000;
    font-size: 15px;
}

.button {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
}

.button:hover,
.button:focus {
    color: #808080;
}

.hr-divider {
   margin-top: 0;
}

.hr-top-divider {
    margin-bottom: 5px;
}

.hr-bottom-divider {
    margin-top: 5px;
}

.status-div {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.header-div {
    font-weight: bolder;
}

.starting-div {
    text-align: start;
}

.ending-div {
    text-align: end;
}

.dropdown-row {
    text-align: end;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: start;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-button,
.dropdown-button:hover,
.dropdown-button:focus {
    background-color: #f9f9f9;
    color: #000000;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}

.dropdown a:hover {
    background-color: #f1f1f1
}

.show {
    display:block;
}

@media (max-width: 767px) {
    .jumbotron {
        padding-top: 50px;
    }
}
