body {
    background-color: #781e19;
}

.message-row {
    padding: 0;
    margin: 0 auto;
}

.alert {
    margin: 0 auto;
}

.alert-error {
    background-color: #ffffff;
    color: #ff0000;
    font-size: 16px;
    text-align: center;
    padding-bottom: 0;
    margin: 0 auto;
}

.alert-warning {
    background-color: #ffffff;
    color: #ffa500;
    font-size: 16px;
    text-align: center;
    padding-bottom: 0;
    margin: 0 auto;
}

.alert-success {
    background-color: #ffffff;
    color: #008000;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

.brand-row {
    color: #ffffff;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

.content-row {
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.wall-row {
    float: none;
    margin: 0 auto;
    background-color: #ffffff;
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.title-row {
    color: #000000;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
}

.logo-row {
    text-align: center;
}

.button,
.button:hover {
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input-group {
    margin-bottom: 10px;
}

.btn-default {
    background: #781e19;
    color: #ffffff;
}

.btn-default:hover {
    background: #691e19;
    color: #ffffff;
}
