.navbar-menu-horizontal-top {
    width: 100%;
    height: 50px;
    background: #781e19;
}

.navbar-menu-vertical-right {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background: #781e19;
}

.navbar-menu-vertical-left {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    overflow: hidden;
    border: none;
    border-radius: 0;
    margin: 0;
    background: #781e19;
}

.navbar-logo {
    height: 200px;
    width: 280px;
    margin-top: -30px;
}

.navbar-buttons {
    height: 200px;
    width: 280px;
    margin-top: 300px;
}

.navbar-menu-vertical-left ul.navbar-ul {
    height: 250px;
    width: 280px;
    margin-left: -30px;
    display: table;
}

.navbar-menu-vertical-left ul.navbar-ul:before,
.navbar-menu-vertical-left ul.navbar-ul:after {
    display: none;
}

.navbar-menu-vertical-left ul.navbar-ul > li {
    display: table-row;
    float: none;
}

.navbar-menu-vertical-left ul.navbar-ul > li > a {
    color: #969594;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 15px;
}

.navbar-menu-vertical-left ul.navbar-ul > li > a > i.glyphicon {
    margin-right: 50px;
    margin-left: 30px;
    font-size:30px;
    color: #969594;
    text-shadow:2px 2px 4px #000000;
}

.navbar-menu-vertical-left > .navbar-logo ul.navbar-ul > li > a:hover,
.navbar-menu-vertical-left > .navbar-logo ul.navbar-ul > li > a.selected {
    background: #781e19;
}

.navbar-menu-vertical-left > .navbar-buttons ul.navbar-ul > li > a:hover {
    background: #6e1e19;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}

.navbar-menu-vertical-left > .navbar-buttons ul.navbar-ul > li > a.selected {
    background: #641e19;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.navbar-menu-vertical-left ul.navbar-ul > li > a:hover > i.glyphicon,
.navbar-menu-vertical-left ul.navbar-ul > li > a.selected > i.glyphicon {
    margin-right: 50px;
    font-size:30px;
    color: #ffffff;
    text-shadow:2px 2px 4px #000000;
}

.navbar-menu-vertical-left {
  -webkit-transition: -webkit-transform .3s;
     -moz-transition:    -moz-transform .3s;
          transition:         transform .3s;

  -webkit-transform: translateX(-150px);
     -moz-transform: translateX(-150px);
          transform: translateX(-150px);
}
.navbar-menu-vertical-left:hover {
  -webkit-transform: translateX(0px);
     -moz-transform: translateX(0px);
          transform: translateX(0px);
}

.navbar-menu-vertical-left ul.navbar-ul {
  -webkit-transition: -webkit-transform .3s;
     -moz-transition:    -moz-transform .3s;
          transition:         transform .3s;

  -webkit-transform: translateX(165px);
     -moz-transform: translateX(165px);
          transform: translateX(165px);
}

.navbar-menu-vertical-left:hover ul.navbar-ul {
  -webkit-transform: translateX(0px);
     -moz-transform: translateX(0px);
          transform: translateX(0px);
}