{% extends 'cti/admin/base.html' %}

{% block title %}{{ header }}{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block body %}
    {% load i18n %}

    <div class="panel panel-default">
        <div class="panel-body col-xs-10 col-sm-8 col-md-6">
            <form id="fault-form" class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-short-div">
                        <label for="priority"></label>
                        <select id="priority" name="priority" class="form-control form-cell">
                            <option value="0" {% if form.priority.value == 0 %}selected{% endif %}>{% trans "trivial" %}</option>
                            <option value="1" {% if form.priority.value == 1 %}selected{% endif %}>{% trans "standard" %}</option>
                            <option value="2" {% if form.priority.value == 2 %}selected{% endif %}>{% trans "urgent" %}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-normal-div">
                        <input type="text" id="object_number" name="object_number" class="form-control form-cell" placeholder="{% trans "object number" %}"
                               data-animation="true" data-toggle="tooltip" data-placement="right" data-trigger="manual" title=""
                                {% if form.object_number.value != None %} value="{{ form.object_number.value }}" {% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-long-div">
                        <input type="text" id="topic" name="topic" class="form-control form-cell" placeholder="{% trans "topic" %}"
                               data-animation="true" data-toggle="tooltip" data-placement="right" data-trigger="manual" title=""
                                {% if form.topic.value != None %} value="{{ form.topic.value }}" {% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-long-div">
                        <textarea id="description" name="description" class="form-control form-description-cell" placeholder="{% trans "description" %}" rows="7"
                                  data-animation="true" data-toggle="tooltip" data-placement="right" data-trigger="manual" title=""
                        >{% if form.description.value != None %}{{ form.description.value }}{% endif %}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" onclick="return validateFault();" class="btn btn-default form-button">{{ button }}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}