{% extends 'cti/admin/base.html' %}

{% block title %}{{ header }}{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block body %}
    <div class="content-row">
        <div class="row message-row">
            {% if messages %}
                <div class="alert">
                {% for message in messages %}
                    <div class="alert-{{ message.tags }}">
                        {% if message.tags == 'success' %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
        <table id="myTable" class="tablesorter">
            <thead>
                <tr>
                    <th>issuer</th>
                    <th>object number</th>
                    <th>topic</th>
                    <th>created at</th>
                    <th>handler</th>
                    <th>status</th>
                    <th>priority</th>
                    <th>updated at</th>
                    <th>phone number</th>
                </tr>
            </thead>
            <tbody>
                {% for fault in faults %}
                    <tr>
                        <td>{{ fault.issuer }}</td>
                        <td>{{ fault.object_number }}</td>
                        <td>{{ fault.topic }}</td>
                        <td>{{ fault.created_at }}</td>
                        <td>{{ fault.handler }}</td>
                        <td>{{ fault.status }}</td>
                        <td>{{ fault.priority }}</td>
                        <td>{{ fault.updated_at }}</td>
                        <td>{{ fault.phone_number }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination-row">
        <div class="col-xs-12 col-sm-12 col-md-12 ending-div">
            {% if faults.has_previous %}
                <a href="?page={{ faults.previous_page_number }}" class="button">previous</a>
            {% endif %}

            <span class="current">
                page {{ faults.number }} of {{ faults.paginator.num_pages }}
            </span>

            {% if faults.has_next %}
                <a href="?page={{ faults.next_page_number }}" class="button">next</a>
            {% endif %}
        </div>
    </div>
{% endblock %}