{% extends 'cti/admin/base.html' %}

{% block title %}{{ header }}{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block body %}
    <div class="content-row">
        <div class="row message-row">
            {% if messages %}
                <div class="alert">
                {% for message in messages %}
                    <div class="alert-{{ message.tags }}">
                        {% if message.tags == 'success' %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if faults %}
            <table id="myTable" class="tablesorter">
                <thead>
                    <tr>
                        <th>created at</th>
                        <th>updated at</th>
                        <th>object number</th>
                        <th>topic</th>
                        <th>issuer</th>
                        <th>phone number</th>
                        <th>handler</th>
                        <th>priority</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fault in faults %}
                        <tr>
                            <td>{{ fault.created_at|date:'Y-m-d H:i' }}</td>
                            <td>{{ fault.updated_at|date:'Y-m-d H:i' }}</td>
                            <td>{{ fault.object_number }}</td>
                            <td>{{ fault.topic }}</td>
                            <td>{{ fault.issuer }}</td>
                            <td>{{ fault.phone_number }}</td>
                            <td>
                                {% if fault.handler != '0' %}
                                    {{ fault.handler }}
                                {% else %}
                                    <span>non handler</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if fault.priority == 0 %}
                                    <span>trivial</span>
                                {% elif fault.priority == 1 %}
                                    <span>standard</span>
                                {% elif fault.priority == 2 %}
                                    <span>urgent</span>
                                {% endif %}
                            </td>
                            <td>
                                <span class="status">{{ fault.status }}</span>
                                {% if fault.status == 0 %}
                                    <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                                {% elif fault.status == 1 %}
                                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                {% elif fault.status == 2 %}
                                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}