{% extends 'cti/admin/base.html' %}

{% block title %}{{ header }}{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block body %}
    {% load i18n %}

    <div class="content-row">
        {% if faults %}
            <table id="faultTable" class="tablesorter">
                <thead>
                    <tr>
                        <th>{% trans "created at" %}</th>
                        <th>{% trans "updated at" %}</th>
                        <th>{% trans "object number" %}</th>
                        <th>{% trans "topic" %}</th>
                        <th>{% trans "issuer" %}</th>
                        <th>{% trans "phone number" %}</th>
                        <th>{% trans "handler" %}</th>
                        <th>{% trans "priority" %}</th>
                        <th>{% trans "status" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fault in faults %}
                        <tr id="{{ fault.id }}" class="fault-tr">
                            <td class="fault-td">{{ fault.created_at|date:'Y-m-d H:i' }}</td>
                            <td class="fault-td">{{ fault.updated_at|date:'Y-m-d H:i' }}</td>
                            <td class="fault-td">{{ fault.object_number }}</td>
                            <td class="fault-td">{{ fault.topic }}</td>
                            <td class="fault-td">{{ fault.issuer }}</td>
                            <td class="fault-td">{{ fault.phone_number }}</td>
                            <td class="fault-td">
                                {% if fault.handler != '0' %}
                                    {{ fault.handler }}
                                {% else %}
                                    {% trans "not handled" %}
                                {% endif %}
                            </td>
                            <td class="fault-td">
                                <span class="status">{{ fault.priority }}</span>
                                {% if fault.priority == 0 %}
                                    {% trans "trivial" %}
                                {% elif fault.priority == 1 %}
                                    {% trans "standard" %}
                                {% elif fault.priority == 2 %}
                                    {% trans "urgent" %}
                                {% endif %}
                            </td>
                            <td class="fault-td">
                                <span class="status">{{ fault.status }}</span>
                                {% if fault.status == 0 %}
                                    <span class="fault-td glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                                {% elif fault.status == 1 %}
                                    <span class="fault-td glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                {% elif fault.status == 2 %}
                                    <span class="fault-td glyphicon glyphicon-check" aria-hidden="true"></span>
                                {% elif fault.status == 3 %}
                                    <span class="fault-td glyphicon glyphicon-trash" aria-hidden="true"></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div id="options-modal"></div>

{% endblock %}