{% extends 'cti/admin/base.html' %}

{% block title %}{{ header }}{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div id="faults_status_piechart" ></div>
            </div>
            <div class="row">
                <div id="faults_and_users_linechart"></div>
            </div>
            <div class="row">
                <div id="count_of_users_linechart"></div>
            </div>
            <div class="row">
                <div id="count_of_objects_piechart"></div>
            </div>
        </div>
    </div>

{% endblock %}