{% extends 'cti/admin/base.html' %}

{% block title %}{{ header }}{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block body %}
    {% load i18n %}

    <div class="panel panel-default">
        <div class="panel-body col-xs-10 col-sm-8 col-md-6">
            <div class="row">
                <div id="status_piechart"></div>
            </div>
            <div class="row">
                <div id="faults_linechart"></div>
            </div>
            <div class="row">
                <div id="logins_linechart"></div>
            </div>
            <div class="row">
                <div id="user_linechart"></div>
            </div>
            <div class="row">
                <div id="object_piechart"></div>
            </div>
        </div>
    </div>

{% endblock %}