{% extends 'cti/admin/base.html' %}

{% block title %}{{ header }}{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-row row">
                <div class="panel-row row">
                    <div class="col-xs-6 col-sm-6 col-md-6 starting-div header-div">
                        {{ user.username }}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 ending-div">
                        {{ user.date_joined }}
                    </div>
                </div>
                <hr class="hr-bottom-divider">
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 starting-div">
                        <b>first name:</b> {{ user.first_name }}
                    </div>
                </div>
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 starting-div">
                        <b>last name:</b> {{ user.last_name }}
                    </div>
                </div>
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 starting-div">
                        <b>email:</b> {{ user.email }}
                    </div>
                </div>
                <hr class="hr-bottom-divider">
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 starting-div">
                        <b>last login:</b> {{ user.last_login }}
                    </div>
                </div>
                <hr class="hr-top-divider">
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 ending-div">
                        &nbsp;<a href="{% url 'cti:edit_user_admin' user.id %}" class="button edit-button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>edit</a>
                        {% if user.is_active == 0 %}
                            &nbsp;<a href="{% url 'cti:restore_user_admin' user.id %}" class="button restore-button"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>restore</a>
                        {% endif %}
                        {% if user.is_active == 1 and user.is_staff == 0 %}
                            &nbsp;<a href="{% url 'cti:block_user_admin' user.id %}" class="button delete-button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>block</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}