{% extends 'cti/admin/base.html' %}

{% block title %}{{ header }}{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block body %}
    {% load i18n %}

    <div class="content-row">
        {% if users %}
            <table id="userTable" class="tablesorter">
                <thead>
                    <tr>
                        <th>{% trans "date joined" %}</th>
                        <th>{% trans "last login" %}</th>
                        <th>{% trans "username" %}</th>
                        <th>{% trans "first name" %}</th>
                        <th>{% trans "last name" %}</th>
                        <th>{% trans "email" %}</th>
                        <th>{% trans "active" %}</th>
                        <th>{% trans "admin" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr id="{{ user.id }}" class="user-tr">
                            <td class="user-td">{{ user.date_joined|date:'Y-m-d H:i' }}</td>
                            <td class="user-td">{{ user.last_login|date:'Y-m-d H:i' }}</td>
                            <td class="user-td">{{ user.username }}</td>
                            <td class="user-td">{{ user.first_name }}</td>
                            <td class="user-td">{{ user.last_name }}</td>
                            <td class="user-td">{{ user.email }}</td>
                            <td class="user-td">
                                <span class="status">{{ user.is_active }}</span>
                                {% if user.is_active == 1 %}
                                    <span class="user-td glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {% endif %}
                            </td>
                            <td class="user-td">
                                <span class="status">{{ user.is_staff }}</span>
                                {% if user.is_staff == 1 %}
                                    <span class="user-td glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div id="options-modal"></div>

{% endblock %}