{% if messages %}
    {% load i18n %}

    <script type="text/javascript">
        {% for message in messages %}
            let message_tag = "{{ message.tags }}";
            let message = "{{ message }}";
            let title = "{% trans "success" %}";
            let type = 'green';
            let icon = 'glyphicon glyphicon-ok-sign';

            if (message_tag === "warning") {
                title = "{% trans "warning" %}";
                type = 'orange';
                icon = 'glyphicon glyphicon-info-sign';
            }
            else if (message_tag === "error") {
                title = "{% trans "error" %}";
                type = 'red';
                icon = 'glyphicon glyphicon-remove-sign';
            }

            let dialog = $.dialog({
                icon: icon,
                title: title,
                content: message,
                backgroundDismiss: true,
                type: type
            });

            setTimeout(function(){
                dialog.close();
            },4000);
       {% endfor %}
    </script>
{% endif %}