<script type="text/javascript">
    {% load i18n %}

    var header = "{{ header }}";

    if (header === "{% trans 'statistics' %}") {
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawPieCharts);

        function drawPieCharts() {
            <!-- pie chart for faults status -->
            var list_of_faults_status = [["{% trans 'status' %}", "{% trans 'count' %}"],
                                         ["{% trans 'not started' %}", 0],
                                         ["{% trans 'queued' %}", 0],
                                         ["{% trans 'completed' %}", 0],
                                         ["{% trans 'deleted' %}", 0]];

            {% for fault in all_faults %}
                {% if fault.status == 0 %}
                    list_of_faults_status[1][1] += 1;
                {% elif fault.status == 1 %}
                    list_of_faults_status[2][1] += 1;
                {% elif fault.status == 2 %}
                    list_of_faults_status[3][1] += 1;
                {% elif fault.status == 3 %}
                    list_of_faults_status[4][1] += 1;
                {% endif %}
            {% endfor %}

            var data = google.visualization.arrayToDataTable(list_of_faults_status);
            var options = {
                title: "{% trans 'status of all faults' %}"
            };

            var faults_status_chart = new google.visualization.PieChart(document.getElementById('faults_status_piechart'));
            faults_status_chart.draw(data, options);

            <!-- pie chart for count of objects -->
            var list_of_count_of_objects = [["{% trans 'object number' %}", "{% trans 'count' %}"]];

            {% for fault in all_faults %}
                var found = false;

                for (var i = 0; i < list_of_count_of_objects.length; i++) {
                    if (list_of_count_of_objects[i][0] === "{{ fault.object_number }}") {
                        list_of_count_of_objects[i][1] += 1;

                        found = true;

                        break;
                    }
                }

                if (found === false) {
                    list_of_count_of_objects.push(["{{ fault.object_number }}", 1]);
                }
            {% endfor %}

            data = google.visualization.arrayToDataTable(list_of_count_of_objects);
            options = {
                title: "{% trans 'count of objects' %}"
            };

            var count_of_objects_chart = new google.visualization.PieChart(document.getElementById('count_of_objects_piechart'));
            count_of_objects_chart.draw(data, options);
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawLineCharts);

        function drawLineCharts() {
            <!-- line chart for new faults and users login per day -->
            var list_of_users_and_faults = [["{% trans 'date' %}", "{% trans 'users' %}", "{% trans 'faults' %}"]];

            {% for counter in counters %}
                var date = "{{ counter.date }}";
                var users = Number("{{ counter.users }}");
                var faults = Number("{{ counter.faults }}");

                list_of_users_and_faults.push([date, users, faults]);
            {% endfor %}

            var data = google.visualization.arrayToDataTable(list_of_users_and_faults);
            var options = {
                title: "{% trans 'new faults and users login per day' %}",
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var faults_and_users_chart = new google.visualization.LineChart(document.getElementById('faults_and_users_linechart'));
            faults_and_users_chart.draw(data, options);

            <!-- line chart for counting users -->
            var list_of_count_of_users = [["{% trans 'date' %}", "{% trans 'users' %}"]];

            {% for user in users %}
                var date_joined = "{{ user.date_joined }}";
                var id = Number("{{ user.id }}");

                list_of_count_of_users.push([date_joined, id]);
            {% endfor %}

            data = google.visualization.arrayToDataTable(list_of_count_of_users);
            options = {
                title: "{% trans 'count of users' %}",
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var count_of_users_chart = new google.visualization.LineChart(document.getElementById('count_of_users_linechart'));
            count_of_users_chart.draw(data, options);
        }
    }

    $(window).resize(function(){
        drawPieCharts();
        drawLineCharts();
    });
</script>