<script type="text/javascript">
    $(document).ready(function(){
        $('#searched_text').keyup(function(){
            var searchField = $(this).val();
            var width = $(this).outerWidth(true);

            if(searchField === '') {
				$('#filtered-faults').html('');
				return;
            }

            var regex = new RegExp(searchField, "i");

            var content = '<div id="filtered-content" class="input-group form-control">';

            {% for fault in all_faults %}
                var topic = "{{ fault.topic }}";
                var id = "{{ fault.id }}";
                var icon = '';

                {% if fault.status == 0 %}
                    icon = '<span class="fault-td glyphicon glyphicon-hourglass" aria-hidden="true"></span>';
                {% elif fault.status == 1 %}
                    icon = '<span class="fault-td glyphicon glyphicon-wrench" aria-hidden="true"></span>';
                {% elif fault.status == 2 %}
                    icon = '<span class="fault-td glyphicon glyphicon-check" aria-hidden="true"></span>';
                {% elif fault.status == 3 %}
                    icon = '<span class="fault-td glyphicon glyphicon-trash" aria-hidden="true"></span>';
                {% endif %}

                if (topic.search(regex) != -1) {
                    content += '<a href="/admin/fault_details/'+id+'">';
                    content += '<div class="row result-row">';
                    content += 'fault: '+ id + ' - ' + topic + '&nbsp; - &nbsp;' + icon;
                    content += '</div>';
                    content += '</a>';
                }
            {% endfor %}

            content += '</div>';

            $('#filtered-faults').width(width);
            $('#filtered-faults').html(content);
        });
    });
</script>