{% extends 'cti/base.html' %}

{% block title %}add{% endblock %}

{% block header %}adding new fault{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.name == 'issuer'%}
                                    <div class="form-group">
                                        <div style="width: 75%; margin: 0 auto;">
                                            <input type="text" id="{{ field.name }}" maxlength="30" name="{{ field.name }}" class="form-control" placeholder="{{ field.name }}" value="{{ request.user }}">
                                        </div>
                                    </div>
                                {% elif field.name == 'date_time'%}
                                    <div class="form-group">
                                        <div style="width: 75%; margin: 0 auto;">
                                            <input type="text" id="{{ field.name }}" maxlength="30" name="{{ field.name }}" class="form-control" placeholder="{{ field.name }}" value="{{ datetime }}">
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        <div style="width: 75%; margin: 0 auto;">
                                            <input type="text" id="{{ field.name }}" maxlength="30" name="{{ field.name }}" class="form-control" placeholder="{{ field.name }}">
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="form-group">
                                <button type="submit" style="width: 50%; float: right; color: #969594" class="btn btn-default">add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}