<!doctype html>
<html lang="pl">
    <head>
        {% load static %}

        <title>{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <link rel="stylesheet" type="text/css" href="{% static 'cti/menu.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cti/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cti/logo.css' %}" />

        {% include 'cti/scripts.html' %}
    </head>
    <body class="whole-body">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img class="politechnika_logo" src="{% static 'resources/logo_mobile.png' %}">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="col-sm-5 col-md-6">
                        <form class="navbar-form" role="search" data-dpmaxz-eid="1">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q" data-dpmaxz-eid="2">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" data-dpmaxz-eid="3"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                        </form>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'cti:index' %}">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'cti:add_fault' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'cti:my_faults' %}">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'cti:resolved_faults' %}">
                                <span class="glyphicon glyphicon-check"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" data-toggle="modal" data-target="#contact-modal">
                                <span class="glyphicon glyphicon-earphone"></span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ request.user }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'cti:change_password' %}">
                                        <span class="glyphicon glyphicon-wrench"></span>
                                        change password
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'cti:logout' %}">
                                        <span class="glyphicon glyphicon-off"></span>
                                        log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid container-body">
            <div class="navbar navbar-body">
                {% include 'cti/contact_modal.html' %}
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <footer class="footer navbar-fixed-bottom">
            <div class="container footer-container">
                <span class="text-muted footer">© copyright by Grzegorz Redlicki</span>
            </div>
        </footer>
    </body>
</html>
