<!doctype html>
<html lang="pl">
    <head>
        {% load static %}

        <title>{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <link rel="stylesheet" type="text/css" href="{% static 'cti/menu.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cti/body.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cti/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cti/logo.css' %}" />

        {% include 'cti/scripts.html' %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'cti:index' %}">
                        <img class="politechnika_logo" src="{% static 'resources/logo5.png' %}">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="col-sm-5 col-md-5">
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="search">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'cti:index' %}" title="home">
                                <span class="glyphicon glyphicon-home"></span>
                                <span class="navbar-label">home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'cti:add_fault' %}" title="add fault">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="navbar-label">add fault</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'cti:my_faults' %}" title="my faults">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="navbar-label">my faults</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'cti:resolved_faults' %}" title="resolved faults">
                                <span class="glyphicon glyphicon-check"></span>
                                <span class="navbar-label">resolved faults</span>
                            </a>
                        </li>
                        <li>
                            <a href="" data-toggle="modal" data-target="#contact-modal" title="contact">
                                <span class="glyphicon glyphicon-earphone"></span>
                                <span class="navbar-label">contact</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="navbar-dropdown-label">{{ request.user }}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'cti:change_password' %}">
                                        <span class="glyphicon glyphicon-wrench"></span>
                                        <span class="navbar-dropdown-label">change password</span>
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{% url 'cti:logout' %}">
                                        <span class="glyphicon glyphicon-off"></span>
                                        <span class="navbar-dropdown-label">log out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <div class="body-header">
                    <span class="body-brand">
                        {% block header %}
                        {% endblock %}
                    </span>
                </div>
                <div class="body-container">
                    {% include 'cti/contact_modal.html' %}
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer class="footer navbar-fixed-bottom">
            <div class="container footer-container">
                <span class="text-muted footer">© copyright by Grzegorz Redlicki</span>
            </div>
        </footer>
    </body>
</html>
