{% extends 'cti/base.html' %}

{% block title %}detail{% endblock %}

{% block header %}detail for fault{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if request.user.is_superuser %}
                                <div class="form-group">
                                    <div class="short-div">
                                        <label>priority</label>
                                        <input type="text" id="priority" maxlength="30" name="priority" class="form-control form-cell" placeholder="priority" disabled value="{{ fault.priority }}" >
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <div class="short-div">
                                        <input type="hidden" id="priority" maxlength="30" name="priority" class="form-control form-cell" placeholder="priority" disabled value="{{ fault.priority }}">
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="short-div">
                                    <input type="hidden" id="issuer" maxlength="30" name="issuer" class="form-control form-cell" placeholder="issuer" disabled value="{{ fault.issuer }}" >
                                </div>
                            </div>
                            {% if request.user.is_superuser %}
                                <div class="form-group">
                                    <div class="normal-div">
                                        <input type="text" id="phone_number" maxlength="30" name="phone_number" class="form-control form-cell" placeholder="phone number" disabled value="{{ fault.phone_number }}" >
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <div class="normal-div">
                                        <input type="hidden" id="phone_number" maxlength="30" name="phone_number" class="form-control form-cell" placeholder="phone number" disabled value="{{ fault.phone_number }}" >
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="normal-div">
                                    <input type="text" id="object_number" maxlength="30" name="object_number" class="form-control form-cell" placeholder="object number" disabled value="{{ fault.object_number }}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="long-div">
                                    <input type="text" id="topic" maxlength="30" name="topic" class="form-control form-cell" placeholder="topic" disabled value="{{ fault.topic }}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="long-div">
                                    <textarea id="description" name="description" class="form-control form-description-cell" placeholder="description" disabled >{{ fault.description }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="long-div">
                                    <input type="hidden" id="status" maxlength="30" name="status" class="form-control form-cell" placeholder="status" disabled value="{{ fault.status }}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="long-div">
                                    <input type="text" id="handler" maxlength="30" name="handler" class="form-control form-cell" placeholder="handler" disabled value="{{ fault.handler }}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="long-div">
                                    <input type="hidden" id="is_visible" maxlength="30" name="is_visible" class="form-control form-cell" placeholder="is visible" disabled value="1" >
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}