{% extends 'cti/base.html' %}

{% block title %}my faults{% endblock %}

{% block header %}list of my faults{% endblock %}

{% block body %}
    <div class="table-responsive">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="col-md-offset-4 col-md-4 allert-message">
                        <div class="alert alert-{{ message.tags }}">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true">  </span>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>issuer</th>
                    <th>date time</th>
                    <th>topic</th>
                    <th>status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for fault in faults %}
                    <tr>
                        <td class="td-header-id">{{ fault.id }}</td>
                        <td class="td-header-issuer">{{ fault.issuer }}</td>
                        <td class="td-header-datetime">{{ fault.created_at }}</td>
                        <td class="td-header-topic">{{ fault.topic }}</td>
                        <td class="td-header-id">
                            {% if fault.status == 0 %}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {% elif fault.status == 1 %}
                                <span class="glyphicon glyphicon-hourglass" aria-hidden="true">  </span>
                            {% elif fault.status == 2 %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true">  </span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'cti:detail' fault.id %}" class="btn btn-default" role="button">details</a>
                        </td>
                        <td>
                            <a href="{% url 'cti:edit_fault' fault.id %}" class="btn btn-default" role="button">edit</a>
                        </td>
                        <td>
                            <a href="{% url 'cti:delete_fault' fault.id %}" class="btn btn-default" role="button">delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}