{% extends 'cti/base.html' %}

{% block title %}my faults{% endblock %}

{% block header %}list of my faults{% endblock %}

{% block body %}
    <div class="table-responsive">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="col-md-offset-4 col-md-4" style="text-align: center;">
                        <div class="alert alert-{{ message.tags }}">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true">  </span>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>issuer</th>
                    <th>date time</th>
                    <th>topic</th>
                    <th>status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for fault in faults %}
                    <tr>
                        <td style="width: 5%;">{{ fault.id }}</td>
                        <td style="width: 15%;">{{ fault.issuer }}</td>
                        <td style="width: 20%;">{{ fault.date_time }}</td>
                        <td style="width: 40%;">{{ fault.topic }}</td>
                        <td style="width: 5%;">{{ fault.status }}</td>
                        <td>
                            <a href="{% url 'cti:detail' fault.id %}" class="btn btn-default" role="button">details</a>
                        </td>
                        <td>
                            <a href="{% url 'cti:edit_fault' fault.id %}" class="btn btn-default" role="button">edit</a>
                        </td>
                        <td>
                            <a href="{% url 'cti:delete_fault' fault.id %}" class="btn btn-default" role="button">delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}