{% extends 'cti/base.html' %}

{% block title %}my faults{% endblock %}

{% block header %}list of my faults{% endblock %}

{% block body %}
    <div class="table-responsive">
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>issuer</th>
                    <th>date time</th>
                    <th>topic</th>
                    <th>status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for fault in faults %}
                    <tr>
                        <td style="">{{ fault.id }}</td>
                        <td>{{ fault.issuer }}</td>
                        <td>{{ fault.date_time }}</td>
                        <td>{{ fault.topic }}</td>
                        <td>{{ fault.status }}</td>
                        <td>
                            <a href="{% url 'cti:detail' fault.id %}" class="btn btn-default" role="button">details</a>
                        </td>
                        <td>
                            <a href="{% url 'cti:delete_fault' fault.id %}" class="btn btn-default" role="button">delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}