{% extends 'cti/base.html' %}

{% block title %}detail{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-row row">
                <div class="panel-row row">
                    <div class="col-xs-6 col-sm-6 col-md-6 starting-div header-div">
                        {{ object.object_name }}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 ending-div">
                        {{ object.date }}
                    </div>
                </div>
                <hr class="hr-bottom-divider">
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 starting-div">
                        <b>object number:</b> {{ object.object_number }}
                    </div>
                </div>
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 starting-div">
                        <b>status:</b>
                        {% if object.status == 0 %}
                            missing
                        {% elif object.status == 1 %}
                            located
                        {% endif %}
                    </div>
                </div>
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 starting-div">
                        <b>room:</b> {{ object.room }}
                    </div>
                </div>
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 starting-div">
                        <b>price:</b> {{ object.price }}
                    </div>
                </div>
                <hr class="hr-bottom-divider">
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 starting-div">
                        {{ object.comments }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}