<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script>
    $(document).ready(function() {
        $('.menu-button').click(function(event) {
            $('.menu-button').removeClass('selected');
            $(this).addClass('selected');
            event.preventDefault();
        })
    });
    $(function() {
        $(".trigger").click(function() {
            $("#datepicker").datepicker({dateFormat: 'yy-mm-dd'});
            $("#datepicker").datepicker("show");
        });
        $("#datepicker").change(function () {
            $(".trigger").html("<input id='id_date_time' name='date_time' type='text' value='" + $("#datepicker").val() + "' required='' data-dpmaxz-eid='2'>");
        });
    });
</script>