<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    $(document).ready(function() {
        $('.menu-button').click(function(event) {
            $('.menu-button').removeClass('selected');
            $(this).addClass('selected');
            event.preventDefault();
        })
    });

    $(function() {
        $(".trigger").click(function() {
            $("#datepicker").datepicker({dateFormat: 'yy-mm-dd'});
            $("#datepicker").datepicker("show");
        });
        $("#datepicker").change(function () {
            $(".trigger").html("<input id='id_date_time' name='date_time' type='text' value='" + $("#datepicker").val() + "' required='' data-dpmaxz-eid='2'>");
        });
    });

    window.onclick = function(event) {
        if (!event.target.matches('.dropdown-button')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;

            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];

                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    };

    function dropdownFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function validateFault() {
        var phone_number = document.getElementById("phone_number").value;
        var object_number = document.getElementById("object_number").value;
        var topic = document.getElementById("topic").value;
        var description = document.getElementById("description").value;

        var phone_number_alert = document.getElementById("phone_number_alert");
        var object_number_alert = document.getElementById("object_number_alert");
        var topic_alert = document.getElementById("topic_alert");
        var description_alert = document.getElementById("description_alert");

        var object_number_regex = new RegExp("^([0-9]{10})$");
        var phone_number_regex = new RegExp("^([+]?[1]?[0-9]{9,15})$");

        $('#phone_number').tooltip('destroy');
        if (!phone_number) {
            $('#phone_number').tooltip({placement: 'right', title: 'phone number is required', trigger: 'manual'}).tooltip('show');
        }
        else {
            if (!phone_number_regex.test(phone_number)) {
                $('#phone_number').tooltip({placement: 'right', title: 'allowed phone number format: +999999999 (9-15 digits with possible plus)', trigger: 'manual'}).tooltip('show');
            }
        }

        if (!object_number) {
            object_number_alert.innerHTML = "object number is required";
            $('#object_number').tooltip('show')
        }
        else {
            if (object_number_regex.test(object_number)) {
                object_number_alert.innerHTML = "";
            }
            else {
                object_number_alert.innerHTML = "allowed object number format: 9999999999 (10 digits)";
            }
        }

        if (!topic) {
            topic_alert.innerHTML = "topic is required";
        }
        else {
            if (topic.length > 50) {
                topic_alert.innerHTML = "allowed topic max length: 50 signs";
            }
            else {
                topic_alert.innerHTML = "";
            }
        }

        if (!description) {
            description_alert.innerHTML = "description is required";
        }
        else {
            if (description.length > 200) {
                description_alert.innerHTML = "allowed description max length: 200 signs";
            }
            else {
                description_alert.innerHTML = "";
            }
        }


        return false;
    }

</script>