{% extends 'cti/base.html' %}

{% block title %}detail{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-row row">
                <div class="panel-row row">
                    <div class="col-xs-6 col-sm-6 col-md-6 starting-div header-div">
                        {{ user.username }}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 ending-div">
                        {{ user.date_joined }}
                    </div>
                </div>
                <hr class="hr-bottom-divider">
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 starting-div">
                        <b>first name:</b> {{ user.first_name }}
                    </div>
                </div>
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 starting-div">
                        <b>last name:</b> {{ user.last_name }}
                    </div>
                </div>
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 starting-div">
                        <b>email:</b> {{ user.email }}
                    </div>
                </div>
                <hr class="hr-bottom-divider">
                <div class="panel-row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 starting-div">
                        <b>last login:</b> {{ user.last_login }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}