.footer-container {
    width: 100%;
    color: #e7e7e7;
    font-size: 12px;
}

.site-button {
    color: #777777;
}

.footer-text {
    color: #777777;
    float:right;
}

.language-container {
    margin: 0 auto;
    text-align: end;
    width: 100%;
}

.language-button {
    font-size: 12px;
    color: #777777;
    background-color: #ffffff;
    border: 2px solid #e7e7e7;
    text-align: center;
    padding: 5px 15px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.language-button:hover,
.language-button:focus,
.language-button:active {
    background-color: #e7e7e7;
    outline: none;
    text-decoration: none;
}