.language-button {
    background-color: #e7e7e7;
    border: 2px solid #e7e7e7;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.language-button:hover,
.language-button:focus,
.language-button:active {
    outline: none;
    background-color: #fffee8;
}

.footer-container {
    width: 100%;
}

.language-container {
    margin: 0 auto;
    text-align: end;
    width: 100%;
}

.footer {
    float:right;
    color: #e7e7e7;
}

.text-muted {
    color: #777777;
}

