.panel-body {
    float: none;
    margin: 0 auto;
}

.form-short-div {
    width: 25%;
    margin: 0 auto;
    float: left;
    display: flex;
}

.form-normal-div {
    width: 50%;
    margin: 0 auto;
    float: left;
    display: flex;
}

.form-long-div {
    width: 100%;
    margin: 0 auto;
    float: left;
    display: flex;
}

.form-button {
    width: 25%;
    margin: 0 auto;
    float: right;
    color: #808080;
}

.form-cell {
    text-align: left;
}

.form-description-cell {
    height: 100px;
    text-align: left;
    resize: none;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    background-color: #f1c40f;
    border-radius: 4px;
 }

 .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #f1c40f!important;
 }

.input-group-addon {
    width: 50px;
}
