.modal {
   top: 50px;
}

.modal-header {
    color: #969594;
}

.modal-body {
    color: #969594;
}

#options-modal {
    width: 0;
}

.options-menu {
    border-top: 4px solid #e74c3c;
    border-radius: 12px;
    width: 160px;
    height:35px;
    line-height: 31px;
    text-align: center;
    align-content: center;
}

.option {
    font-size: 15px;
    background-color: #fffee8;
}

.option-button:hover {
    color: #000000;
}

.details-button {
    color: #0c692c;
}

.edit-button {
    color: #193b69;
}

.assign-button {
    color: #ffa500;
}

.delete-button {
    color: #ba120f;
}

.finish-button {
    color: #ffa500;
}

.restore-button {
    color: #ffa500;
}