<!doctype html>
<html lang="pl">
    <head>
        {% load static %}
        {% load i18n %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'cti/css/login.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cti/css/logo.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cti/css/footer.css' %}" />

        <link rel="shortcut icon" type="image/png" href="{% static 'resources/favicon.ico' %}"/>
    </head>
    <body>
        <div class="container">
            <div class="row brand-row">
                <hr><span>{% trans "SUPPORT CENTER" %}</span><hr>
            </div>
            <div class="row content-row">
                <span>{% trans "I hope you will not have to come back here anymore :)" %}</span>
            </div>
            <div class="row content-row">
                <a href="{% url 'cti:login' %}" class="button">
                    <span>{% trans "login again" %}</span>
                </a>
            </div>
            <div class="row logo-row">
                <hr>
                <img class="logo" src="{% static 'resources/logo_pl.png' %}">
                <img class="logo" src="{% static 'resources/logo_cti.png' %}">
            </div>
        </div>
        <footer class="footer navbar-fixed-bottom">
            <div class="container language-container">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <button type="submit" class="language-button" name="language" value="{{ language.code }}">{{ language.code }}</button>
                    {% endfor %}
                </form>
            </div>
            <div class="container footer-container">
                <span class="text-muted footer">
                    {% trans "© copyright by Grzegorz Redlicki" %}
                </span>
            </div>
        </footer>
    </body>
</html>